[submodule "MLP_LSTM_XFMR-Policies-for-Robot-Imitation-Learning-on-PushT"]
	path = MLP_LSTM_XFMR-Policies-for-Robot-Imitation-Learning-on-PushT
	url = https://github.com/navrajkambo/MLP_LSTM_XFMR-Policies-for-Robot-Imitation-Learning-on-PushT.git
